/* sing in */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: #FDB400;
}

.supercontenedor{
height:100%;

align-items: center;
justify-content: center;
background-color: #f5f5f5;
}

form{
padding-top: 10px;
font-size: 14px;
margin-top: 30px;
}

.cardtitulo{ font-weight:300; }

.btn{
font-size: 14px;
margin-top:20px;
}
.login{
width:330px;
margin:20px;
}

.alert{
margin-bottom:-30px;
font-size: 13px;
margin-top:20px;
}
