*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*//////////////////header*/
@font-face{
    font-family:ParaTitulo;
    src: url(../Fuentes/Fuente1.ttf.ttf )
}

body{
    background: white;

}

header{
    width: 100%;
    height: 250px;
    text-align: center;
    position: absolute;
    top: 0;
    overflow: hidden;
}


header .tituloprincipal {
    background-color: #17314f;
    height: 80px;
    padding: 15px;
    
}
header .tituloprincipal h1 a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: ParaTitulo;
    font-size: 80px;
    line-height: 50px;
    

}
header .tituloprincipal img{
    
    float: right;
    width: 58px;
}
header .barra{
    /*position: relative;
    background-color: darkturquoise;
*/
}

.listmenu{
    padding:5px 0 5px 0;
    text-align: left;
    line-height: 32px;
    background-color: #17314f;

}
ul.listmenu {
    
    /* margin-top: 9px;*/
}


.listmenu li {
    display: inline;
    padding: 0 20px 0 20px;
    font-size: 16px;

}
.listmenu li a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

}
.iconos{   
    float: right; 
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    font-size: 32px;
}
.listmenu li a:hover{
    background: 	#eed919;
    color: #17314f;

}
hr{
    margin-top: 0%;
    margin-bottom: 0;
}




/*-----------------------------------------*/
body {
    font-family: 'open sans';
}

.contenedor {
    padding: 80px 0;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/*.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
*/
/* Header */

/*header {
  width: 100%;
    height: 300px;
}

nav{
    background: #022549 ;
    text-align: left;
    padding: 30,0,0,0 ;
}

nav > a{
    color:#fff ;
    font-weight: 700;
    text-decoration: none;
    margin-left: 50px;

}

nav > a:hover{
    text-decoration: underline;
}
*/
/*header .textos-header{
=======
header .textos-header{
>>>>>>> a2982061a2ebf8e96206b35125d089fd1ea1ac1d
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #022549;
}*/

/* About us*/
.contenedor h2{
    padding: 20px 0 80px 0;
    margin-bottom: 0px;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    
}
body{
  background: #FDB400;
}
main{
    margin-top: 200px;
}
main .inicio{
      padding: 0px 0 0px 0;

}
.contenedor-inicio{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 180px 0;
}

.boton{
  width: 400px ; height: 100px;
  background-color: #FF2E00;
  border-radius: 35px;
  cursor: pointer;
  transition: background-color 1s;
  margin-left: 50px;
  margin-bottom: 0;
}
.boton:hover{
    background-color:rgb(253, 0, 0) ;
  }
.boton .botonyoutube{
    text-decoration: none;
}
.boton p {
    text-align: center ;
    font-size: 400%;
    color: white ;
    line-height: 1.5em;
    

  }

.imagen-about-us{
    width: 40%;
  }
.imagen-about-us1{
    width: 60%;
    margin-top: 100px ;
    margin-left: 100px ;
  }
.imagen-about-us{
    width: 40%;
}

.inicio .contenido-textos{
    width: 40%;
}

.contenido-textos h3{
    margin-bottom: 0px;
}

.contenido-textos h3 span{
    margin-bottom: 0px;
    display: inline-block;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 100px;
    }




.contenidos-textos h3 span {
    /*margin-bottom: 250px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 85px;*/
}

.contenido-textos p{
    padding: 0px 0px 5px 15px;
    font-weight: 150px;
    font-weight: bold;
    text-align: center;
}
hr {
   height: 2px;
    color: red;
}
/* Galeria */

.grupodetrabajo{
border-color: red;
height: 100vh;
}

.galeria-grupo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imagen-grupo{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-grupo .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(249, 55, 20, 0.8);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.imagen-grupo:hover .hover-galeria{
    transform: scale(1);
}


/*///////////*/

.contenidonoticias {
    
    margin-top: 120px;
    

}

.contenidonoticias .noticiastitulo{
    width: 50%;
    margin: auto;
    text-align: center;
}

.contenidonoticias .noticiastitulo h2{
    font-size: 50px;
    color: #642a73;
    font-weight: bold;
    margin-bottom: 10px;


}
.contenidonoticias .noticiastitulo hr{
    width: 30%;
    margin: auto;
    height: 3px;
    background: rgb(112, 121, 185);
    border: none;
}

.contenidonoticias .boxnoticias{
    width: 90%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contenidonoticias .boxnoticias .noticia{
    width: 45%;
    margin: 20px;
    
}
.contenidonoticias .boxnoticias .noticia .card-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contenidonoticias .boxnoticias .noticia .card-img img{
    width: 250px;
    height: 250px;
    /*border-radius: 50%;*/
    object-fit: cover;
    
}